#main {
    text-align: center;
    /* vw = view width. entire page = 100vw*/
    padding-left: 15vw;
    padding-right: 15vw;
    gap: 20px;
}

.container {
    padding: 15px;
    border-radius: 20px;
    justify-content: center;
}

.col {
    display: flex;
    flex-direction: column;
}

.rol {
    display: flex;
    flex-direction: row;
}

.flex-center {
    justify-content: center;
}

.page-divider {
    width: 100%;
}

.inner-container {
    width: 60%;
    height: 150px;
}

.input:focus {
    outline: none;
}

#editor {
    border: 1px solid black;
}

#input {
    border: 0;
    width: 100%;
    height: 95%;
}

#send-note-container {
    text-align: right;
}

#send-note-btn {
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
}

#notes {
    margin: 0;
    padding: 0;
}

#notes-header {
    gap: 10px;
}

/* style all the list element within notes*/
#notes > li {
    list-style-type: none;
    text-align: left;
    margin-bottom: 20px;
    border: 1px solid black;
}

.note-icon {
    width: 40px;
}